
<div class = "row">

    <div class = "col-12">

   
    {% for u in service_data %}


    <div>
    <h2>  {{u.service_icon}}
    </h2>    
    
    </div>
    
    
    {% endfor %}
    <p class="id_clr">{{page_header}}</p>



    <table border = "1" cellpadding= "10">
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        {% if student|length > 0 %}
            {% for i in student%}
            <tr>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            </tr>
         {% endfor %}

         {% else %}
         not id found
         {% endif %}
    </table>

   
    

        <form method = "POST">
            {% csrf_token %}
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname"><br>

            <label for="fnum"> Phone Nmber: </label> <br>
            <input type= "num" id ="fnum" name="fnum"><br>

            <input type = "submit" value ="submit"> </input>


        </form>
    </div>


    <form method = "POST">
        {% csrf_token %}
        

        <label for="num"> Any number </label> <br>
        <input type= "num" id ="num" name="num"><br>

        <input type = "submit" value ="submit"> </input>


    </form>
    

    
    <form method = "POST">
        {% csrf_token %}
        

        <label for="num"> Any number </label> <br>
        <input type= "num" id ="num" name="num"><br>

        <input type = "submit" value ="submit"> </input>


    </form>
    

    <form method = "POST">
        {% csrf_token %}
        

        <label for="num"> Any number </label> <br>
        <input type= "num" id ="num" name="num"><br>

        <input type = "submit" value ="submit"> </input>


    </form>
    
    <form method = "POST">
        {% csrf_token %}
        

        <label for="num"> Any number </label> <br>
        <input type= "num" id ="num" name="num"><br>

        <input type = "submit" value ="submit"> </input>


    </form>
    
    <form method = "POST">
        {% csrf_token %}
        

        <label for="num"> Any number </label> <br>
        <input type= "num" id ="num" name="num"><br>

        <input type = "submit" value ="submit"> </input>


    </form>
    
    <form method = "POST">
        {% csrf_token %}
        

        <label for="num"> Any number </label> <br>
        <input type= "num" id ="num" name="num"><br>

        <input type = "submit" value ="submit"> </input>


    </form>
    
    <form method = "POST">
        {% csrf_token %}
        

        <label for="num"> Any number </label> <br>
        <input type= "num" id ="num" name="num"><br>

        <input type = "submit" value ="submit"> </input>


    </form>
    
    <form method = "POST">
        {% csrf_token %}
        

        <label for="num"> Any number </label> <br>
        <input type= "num" id ="num" name="num"><br>

        <input type = "submit" value ="submit"> </input>


    </form>
    
    <form method = "POST">
        {% csrf_token %}
        

        <label for="num"> Any number </label> <br>
        <input type= "num" id ="num" name="num"><br>

        <input type = "submit" value ="submit"> </input>


    </form>
    
    <form method = "POST">
        {% csrf_token %}
        

        <label for="num"> Any number </label> <br>
        <input type= "num" id ="num" name="num"><br>

        <input type = "submit" value ="submit"> </input>


    </form>
    
    <form method = "POST">
        {% csrf_token %}
        

        <label for="num"> Any number </label> <br>
        <input type= "num" id ="num" name="num"><br>

        <input type = "submit" value ="submit"> </input>


    </form>
    
    <form method = "POST">
        {% csrf_token %}
        

        <label for="num"> Any number </label> <br>
        <input type= "num" id ="num" name="num"><br>

        <input type = "submit" value ="submit"> </input>


    </form>
    
    <form method = "POST">
        {% csrf_token %}
        

        <label for="num"> Any number </label> <br>
        <input type= "num" id ="num" name="num"><br>

        <input type = "submit" value ="submit"> </input>


    </form>
    
    <form method = "POST">
        {% csrf_token %}
        

        <label for="num"> Any number </label> <br>
        <input type= "num" id ="num" name="num"><br>

        <input type = "submit" value ="submit"> </input>


    </form>
    




</div>







